
.container-global {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 2rem;
}

.example-chip-list {
  width: 100%;
  max-width: 600px;
}


.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
