<!-- <form #registrationForm="ngForm">
  <label for="name">Nome:</label>
  <input [(ngModel)]="competitor.name" required
  type="text" id="name" name="name">

   <label for="belt">Faixa:</label>
  <select [(ngModel)]="competitor.belt"
    id="belt" name="belt">
    <option value="white">Branca</option>
    <option value="blue">Azul</option>
    <option value="purple">Roxa</option>
    <option value="brown">Marrom</option>
    <option value="black">Preta</option>
  </select>

  <label for="weightClass">Categoria de
    Peso:</label>
  <input [(ngModel)]="competitor.weightClass"
  type="text" id="weightClass" name="weightClass">

  <label for="competitionDate">Data da Competição:</label>
 <input [(ngModel)]="competitor.competitionDate" type="date"
   id="competitionDate" name="competitionDate">



   <div ngModelGroup="address">
    <label for="street">Rua:</label>
    <input [(ngModel)]="competitor.address.street" type="text" id="street" name="street">

    <label for="city">Cidade:</label>
    <input [(ngModel)]="competitor.address.city" type="text" id="city" name="city">

    <label for="state">Estado:</label>
    <input [(ngModel)]="competitor.address.state" type="text" id="state" name="state">
  </div>

  <button type="submit">Registrar Competidor</button>
</form> -->

<!-- <app-validation-unique>

</app-validation-unique> -->

<!-- <app-form-array-imposto></app-form-array-imposto> -->

<app-form-record></app-form-record>

