<section class="mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="table().expensesMonth">



      @for (item of computedColumns();track $index;let firts = $first ,last =$last) {
        @if(firts){
            <ng-container [matColumnDef]="item">
                <th mat-header-cell *matHeaderCellDef>Nome do gasto </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
        }
        @else if(last) {
            <ng-container [matColumnDef]="item">
                <th mat-header-cell *matHeaderCellDef>Total</th>
                <td mat-cell *matCellDef="let element"> </td>
            </ng-container>
        }
        @else {
            <ng-container [matColumnDef]="item">
                <th mat-header-cell *matHeaderCellDef>Dia {{$index}} </th>
                <td mat-cell *matCellDef="let element"> 0 </td>
            </ng-container>
        }
      }
      <tr mat-header-row *matHeaderRowDef="computedColumns();"></tr>
      <tr mat-row *matRowDef="let row; columns: computedColumns();"></tr>
    </table>
  </section>

  {{
    table() | json
  }}
