<ng-container>
  <form [formGroup]="form">
    @for (field of fieldsGeneric; track field) {
      <div>
        <app-generic-control-dynamic
          [fieldGeneric]="field"
        [form]="form"></app-generic-control-dynamic>
      </div>
    }
  </form>
  <div class="form-actions">
    <button mat-raised-button color="secondary" (click)="resetForm()">
      Limpar Filtros
    </button>
    <button mat-raised-button color="primary" (click)="searchFilters()">
      Buscar
    </button>
  </div>
</ng-container>
